{% extends 'base.html.twig' %}

{% block title %}Edit Assignment{% endblock %}

{% block body %}
    <h1>Edit Assignment</h1>
    <form method="post" action="/assignments/{{ assignment.id }}/edit">
        <label>Trip ID: <input name="trip" value="{{ assignment.trip?.id }}"></label><br>
        <label>Driver ID: <input name="driver" value="{{ assignment.driver?.id }}"></label><br>
        <button type="submit">Save</button>
    </form>
    <p><a href="/assignments/{{ assignment.id }}">Cancel</a></p>
{% endblock %}
