{% extends 'base.html.twig' %}

{% block title %}Edit Refuel{% endblock %}

{% block body %}
    <h1>Edit Refuel</h1>
    <form method="post" action="/refuels/{{ refuel.id }}/edit">
        <label>Date: <input name="date" value="{{ refuel.date }}" type="date"></label><br>
        <label>Liters: <input name="liters" value="{{ refuel.liters }}" type="number" step="0.01"></label><br>
        <button type="submit">Save</button>
    </form>
    <p><a href="/refuels/{{ refuel.id }}">Cancel</a></p>
{% endblock %}
